.face {
    position: relative;

    --pad-val: 20px;

    height: 200px;
    width: 100px;
    padding: var(--pad-val);

    margin: -10px 0 0;

    width: calc(100% - var(--pad-val)*2);

    --face-transition: all ease .4s;
    --face-color: #ffcd94;
}

.face__front {
    position: absolute;

    top: 45%;
    left: 50%;
    width: 84px;
    height: 110px;
    margin-top: calc(-110px / 2);
    margin-left: calc(-84px / 2);

    background: var(--face-color);
    overflow: hidden;

    border-radius: 40px 40px 50px 50px;
}

.eyes {
    position: absolute;

    top: 37%;
    left: 50%;
}

.eyes:before,
.eyes:after {
    content: "";
    position: absolute;

    top: 0;
    width: 0;
    height: 0;

    border: 6px solid var(--third-bg-color);
    border-radius: 10px;

    transition: var(--face-transition);
}

.eyes-smiling:before,
.eyes-smiling:after {
    transform: translateY(-1px);
}

.eyes:before {
    left: 11px;
}

.eyes:after {
    right: 11px;
}

.nose {
    position: absolute;

    top: 53%;
    left: 50%;
    height: 10px;
    width: 5px;
    margin-left: calc(-5px / 2);
    transform: rotate(9deg);

    border: 2px solid var(--third-bg-color);
    border-color: transparent transparent var(--third-bg-color) var(--third-bg-color);
    border-radius: 0 10px 10px;
}

.mouth {
    position: absolute;

    top: 42%;
    left: 50%;
    width: 30px;
    height: 40px;
    margin-left: calc((-30px + -2px) / 2);

    border: 2px solid var(--third-bg-color);
    border-radius: 10px;

    border-color: transparent transparent var(--third-bg-color) transparent;

    transition: var(--face-transition);
}

.mouth-smiling {
    width: 45px;
    margin-left: calc((-45px + -2px) / 2);

    border-radius: 20px;
}

.blush {
    position: absolute;

    top: 55%;
    left: 50%;
    height: 50px;
    width: 84px;
    margin-left: calc(-84px / 2);
}

.blush:before,
.blush:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;

    box-shadow: 0 0 15px 8px rgba(230, 158, 132, 0.6);
    transition: var(--face-transition);
}

.blush-smiling:before,
.blush-smiling:after {
    box-shadow: 0 0 15px 8px rgba(230, 158, 132, 1);
}

.blush:before {
    left: 15px;
}

.blush:after {
    right: 15px;
}

.ears {
    position: absolute;

    top: 45%;
    left: 50%;
    width: 84px;
    height: 110px;
    margin-top: calc(-110px / 2);
    margin-left: calc(-84px / 2);
}

.ears:before,
.ears:after {
    content: "";
    position: absolute;
    z-index: 10;

    top: 44%;
    height: 22px;
    width: 11px;

    background: var(--face-color);
    transition: var(--face-transition);
}

.ears-smiling:before,
.ears-smiling:after {
    transform: translateY(-3px);
}

.ears:before {
    left: -11px;

    border-radius: 22px 11px 11px 22px;
}

.ears:after {
    right: -11px;

    border-radius: 11px 22px 22px 11px;
}

.hair {
    position: absolute;

    left: 50%;
    top: 33px;
    height: 93px;
    width: calc(84px + 10px);
    margin-left: calc((-84px + -10px) / 2);

    border-radius: 48px 48px 40px 40px;

    background: var(--second-bg-color);
}