 .posts__wrap {
     width: 676px;
     margin: 50px auto;
 }

 .posts__item {
     margin-bottom: 20px;

     border: solid 10px var(--third-bg-color);
     box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);

     background-color: var(--bg-color1);

     transition: var(--def-trs);
 }

 .posts {
     height: auto;

     font-size: var(--art-fz);
     line-height: var(--art-lh);
 }

 .posts__title {
     margin: var(--art-margin-2) 0;

     font-weight: bold;
     font-size: var(--art-fz-subtitle);
     line-height: var(--art-lh-subtitle);
 }

 .posts__text {
     margin: 0 0 var(--art-margin-2);

     font-weight: normal;
 }

 .posts__capt {
     opacity: .7;

     font-weight: normal;
 }

 .posts__img {
     width: 100%;
     min-height: 250px;
 }

 .posts__img::before {
     content: 'There should be an image soon \A\A Wait a little :)';
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;

     left: 20px;
     top: 20px;
     right: 20px;
     height: 270px;

     background-color: var(--bg-color2);

     white-space: pre-wrap;
     text-align: center;
     font-size: 24px;
 }

 .posts__link {
     position: relative;
     display: block;

     padding: 20px;

     color: var(--text-color1);
     text-decoration: none;
 }

 .posts__link:active {
     color: var(--bg-color2);
 }

 .posts__mob {
     display: none;

     opacity: .6;
     font-weight: normal;
 }

 @media (hover: hover) {
     .posts__wrap:hover .posts__item{
         filter: blur(.7px);
     }

     .posts__wrap:hover .posts__item:hover{
         filter: drop-shadow( 0px 0px 8px rgba(0, 0, 0, 1)) blur(0);
     }
 }

 @media screen and (max-width: 1275px) {
     .posts {
         --art-fz: 18px;
         --art-fz-subtitle: 23px;

         --art-lh: 31px;
         --art-lh-subtitle: 38px;

         --art-margin-1: 31px;
         --art-margin-2: 12px;
     }

     .posts__wrap {
         width: 510px;
     }

     .posts__img {
         min-height: 180px;
     }

     .posts__img::before {
         height: 200px;
     }
 }

 @media screen and (max-width: 1024px) {
     .posts__wrap {
         padding: var(--pad-txt);
         margin: 30px auto;
     }

     .posts__back {
         position: absolute;
     }

     .posts__img::before {
         left: 20px;
         right: 20px;
     }
 }

 @media screen and (max-width: 735px) {
     .posts__wrap {
         padding: 10px;
         margin: 0 0 40px;
     }

     .posts__mob {
         display: block;
     }

     .posts__capt {
         display: none;
     }

     .posts__img {
         min-height: unset;
     }

     .posts__img::before {
         display: none;
     }
 }

 @media screen and (max-width: 375px) {
     .posts {
         --art-fz: 16px;
         --art-fz-subtitle: 20px;

         --art-lh: 26px;
         --art-lh-subtitle: 32px;

         --art-margin-1: 26px;
         --art-margin-2: 6px;
     }
 }
