.article {
    position: relative;
    width: 676px;
    margin: 50px auto;
    padding: 60px;

    border: solid 20px var(--third-bg-color);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);

    background-color: var(--bg-color1);
    color: var(--text-color1);

    font-size: var(--art-fz);
    line-height: var(--art-lh);
}

.article__title {
    margin: 0 0 var(--art-margin-1);

    font-size: var(--art-fz-title);
    line-height: var(--art-lh-title);
    color: var(--post-color2);
    font-weight: bold;
}

.article__subtitle {
    margin: var(--art-margin-1) 0 var(--art-margin-2);

    font-size: var(--art-fz-subtitle);
    line-height: var(--art-lh-subtitle);
    color: var(--post-color2);
    font-weight: bold;

    transition: var(--def-trs);
}

.article__date {
    margin: 0;

    opacity: .7;
    text-align: right;
    font-weight: 100;
}

.article__img {
    width: 100%;
    min-height: 310px;
}

.article__text {
    margin: 0 0 var(--art-margin-1);
}

.article__text-active {
    position: relative;
}

.article__text-active::after {
    content: ' !!!';

    color: var(--main-text-color);
}

.article__strong {
    text-decoration: underline;
}

.article__col-1 {
    background-color: #00800033;
}

.article__col-2 {
    background-color: #ff000033;
}

.article__col-3 {
    border-bottom: .1em solid var(--main-text-color);
    background-color: #c6b7634d;
}

.article__col-4 {
    background-color: rgba(110, 69, 50, .15);

    transition: background-color ease .7s 0s;
}

.article__list {
    padding-left: 22px;
}

.article__list_item {
    list-style: circle;
}

@media screen and (max-width: 1024px) {
    .article {
        padding: 30px;
        border-width: 15px;
        width: 90%;
        max-width: 676px;

        box-sizing: border-box;
    }

    .article__img {
        min-height: 270px;
    }
}

@media screen and (max-width: 735px) {
    .article {
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding: var(--pad-txt) var(--pad-txt) 40px;

        border: none;
    }

    .article__date {
        padding-bottom: 20px;
    }

    .article__img {
        min-height: unset;
    }
}
