.magic {
    flex-wrap: wrap;

    text-align: center;
}

.magic_wr {
    position: relative;

    width: 100%;
    height: 100%;
}

.magic__start {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    animation: magStart 5s ease;
}

@keyframes magStart {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    25%, 90% {
        opacity: 1;
        visibility: visible;
    }
}

.magic__note {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.magic__note-1 {
    animation: magNote1 4s ease;
}

@keyframes magNote1 {
    0%, 20%, 60% {
        opacity: 0;
        transform: translate(-400px, 200px) scale(2);
    }
    40%, 70% {
        opacity: 1;
        transform: translate(-400px, 200px) scale(2);
    }
    70% {
        transform: translate(-400px, 200px) scale(3);
    }
    80% {
        transform: translate(-400px, 200px) scale(3);
    }
    100% {
        transform: none;
    }
}

.magic__note-2 {
    animation: magNote2 4s ease;
}

@keyframes magNote2 {
    0%, 10%, 50% {
        opacity: 0;
        transform: translate(300px, 200px) scale(2);
    }
    30%, 60% {
        opacity: 1;
        transform: translate(300px, 200px) scale(2);
    }
    60% {
        transform: translate(300px, 200px) scale(4);
    }
    70% {
        transform: translate(300px, 200px) scale(2.5);
    }
    90%, 100% {
        transform: none;
    }
}

.magic__note-3 {
    animation: magNote3 4s ease;
}

@keyframes magNote3 {
    0%, 35%, 70% {
        opacity: 0;
        transform: translate(-200px, 100px) scale(2);
    }
    50%, 82% {
        opacity: 1;
        transform: translate(-200px, 100px) scale(2);
    }
    82% {
        transform: translate(-200px, 100px) scale(2.6);
    }
    92% {
        transform: translate(-200px, 100px) scale(1.8);
    }
    100% {
        transform: none;
    }
}

.magic__header {
    padding-top: 50px;
    font-size: 8vh;
}

.magic__info {
    position: relative;
    
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;
}

.magic__text {
    position: absolute;

    margin: 0;

    font-size: 30px;
}

.magic__text-1 {
    top: 250px;
    left: 10%;
}

.magic__text-2 {
    top: 350px;
    right: 10%;
}

.magic__text-3 {
    top: 450px;
    left: 18%;
}

.magic__text-4 {
    top: 550px;
    right: 20%;
}

.magic__text-5 {
    top: 650px;
    left: 20%;
}
