.post {
    position: relative;

    font-weight: normal;
}

@media screen and (max-width: 1024px) {
    .post {
        padding-bottom: 10px;
    }

    .post__back {
        position: absolute;
    }
}

@media screen and (max-width: 735px) {
    .post {
        padding-bottom: 0;
    }
}
