.offer {
    height: auto;
    padding: 0 0 70px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    --hover-color1: #d8dee2;
    /*--hover-color1: #fff;*/
    --hover-color2: var(--dark-color4);
    --offer-transition: all ease .7s 0s;
}

.offer__low_title {
    margin: 30px 0 10px;

    font-weight: normal;
}

.offer__text {
    margin: 0;
}

.offer__nav {
    position: fixed;
    display: flex;

    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    background-color: var(--jerry-color);

    transition: var(--offer-transition);
}

.offer__nav:hover {
    background-color: var(--hover-color2);
}

.offer__nav_list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    height: 100%;
}

.offer__link_text {
    margin-left: 10px;

    transition: var(--offer-transition);
}

.offer__link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.offer__nav_item,
.offer__icon,
.offer__icon path,
.offer__icon rect {
    transition: var(--offer-transition);
}

.offer__nav:hover .offer__icon path,
.offer__nav:hover .offer__icon g,
.offer__nav:hover .offer__icon rect {
    fill: var(--hover-color1)
}

.offer__nav_item:hover .offer__icon path,
.offer__nav_item:hover .offer__icon g,
.offer__nav_item:hover .offer__icon rect {
    fill: var(--hover-color2)
}

.offer__nav:hover .offer__link_text {
    color: var(--hover-color1);
}

.offer__nav_item:hover .offer__link_text{
    color: var(--hover-color2);
}

.offer__nav_item {
    cursor: pointer;

    padding: 0 20px;
    height: 100%;
}

.offer__nav_item:hover {
    background-color: var(--hover-color1);

    padding: 0 50px;
}

.offer__title {
    width: 658px;
    margin: 0 auto;

    font-size: 52px;
    text-decoration: underline;
}

.offer__wrap {
    padding-bottom: 20px;

    transition: var(--offer-transition);
    background-color: inherit;
}

.offer__list {
    width: 658px;
    margin: 0 auto;
}

.offer__nav:hover + .offer__wrap {
    background-color: var(--hover-color1);
    color: var(--hover-color2);
}

.offer__typing {
    position: fixed;

    right: 20px;
    bottom: 100px;
    width: 160px;
    height: 110px;

    overflow: hidden;

    font-family: var(--hand-font);
    line-height: 2;
}

.offer__word {
    background-color: rgba(110, 69, 50, .3);

    transition: background-color ease .7s 0s;
}

.offer__word-hide {
    background-color: transparent;
}

.offer__checkbox {
    position: absolute;

    top: 100px;
    left: 100px;
}