.apps {
    --slider-width: 60%;
    --header-height: 170px;

    /*colors*/
    --bg-color: var(--main-bg-color);
    --txt-color: var(--main-text-color);
    --txt-color2: var(--main-text-color);
    --bd-color: var(--third-bg-color);
    /*popupoff*/
    --ppf-color1: #222831;
    --ppf-color2: #f9ffee;
    --ppf-color3: #efbb35;
    /*stylify*/
    --stlf-color1: #A8D0E6;
    --stlf-color2: #24305E;
    --stlf-color3: #F76C6C;
    /*plas*/
    --plas-color1: #fafafa;
    --plas-color2: #b33636;
    --plas-color3: #ff944d;

    position: relative;
    display: flex;

    flex-wrap: wrap;

    background-color: var(--bg-color);
    color: var(--txt-color);

    transition: var(--def-trs);
}

/*swiper recustom*/
.swiper-button-prev,
.swiper-button-next {
    transition: var(--def-trs);

    color: var(--txt-color2);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet-active {
    transition: var(--def-trs);

    background-color: var(--txt-color2);
}
/*swiper recustom end*/

.PopUpOFF {
    --bg-color: var(--ppf-color1);
    --txt-color: var(--ppf-color2);
    --txt-color2: var(--ppf-color3);
    --bd-color: var(--ppf-color2);
}

.Stylify {
    --bg-color: var(--stlf-color1);
    --txt-color: var(--stlf-color2);
    --txt-color2: var(--stlf-color3);
    --bd-color: var(--stlf-color2);
}

.PLAS {
    --bg-color: var(--plas-color1);
    --txt-color: var(--plas-color2);
    --txt-color2: var(--plas-color3);
    --bd-color: var(--plas-color2);
}

.apps__head {
    width: 100%;
    height: var(--header-height);
    padding: 60px 50px;

    box-sizing: border-box;

    font-family: var(--hand-font2);
}

.apps__head_title {
    font-size: 100px;
    line-height: 100px;
    color: var(--txt-color2);

    transition: var(--def-trs);
}

.apps__slider {
    width: var(--slider-width);
    margin-left: 0;
    padding: 75px 0;

    box-sizing: border-box;
    /*align-self: flex-end;*/
}

.apps__slider_slide {
    width: 500px;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.apps__desc {
    width: calc(100% - var(--slider-width));
    height: calc(100% - var(--header-height));
    padding: 0 150px 0 50px;

    box-sizing: border-box;
}

.apps__title {
    padding: 20px 0 10px;

    font-size: 110%;
    color: var(--txt-color2);
    font-family: var(--hand-font2);
}

.apps__text {
    margin: 0;
}

.apps__item_img {
    display: block;

    width: 30%;
    max-width: 200px;
    margin: 0 auto;

    z-index: 2;
}

.tilt__circle {
    position: relative;
    display: flex;

    width: 280px;
    height: 280px;

    justify-content: center;
    align-items: center;

    --plat-color: #E5E4E2;
    --silver-color: #C0C0C0;

    background-color: var(--silver-color);

    border-radius: 50%;
}

.PLAS_item .tilt__circle {
    --plat-color: #4b3d3d;
    --silver-color: #4b3d3d;
}

.Stylify_item .tilt__circle {
    --plat-color: #4b3d3d;
    --silver-color: #4b3d3d;
}

.tilt__circle::before {
    content: '';
    position: absolute;

    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;

    border-radius: 50%;

    background-color: transparent;

    background: radial-gradient(circle at center,
        var(--plat-color) 25%,
        var(--plat-color) 29.9%,
        rgba(229, 228, 226, 0.20) 30%, rgba(229, 228, 226, 0.20) 39%,
        var(--plat-color) 39.1%, var(--plat-color) 39.6%,
        rgba(229, 228, 226, 0.20) 39.8%, rgba(229, 228, 226, 0.20) 45%,
        var(--plat-color) 45.1%, var(--plat-color) 45.6%,
        rgba(229, 228, 226, 0.20) 45.3%, rgba(229, 228, 226, 0.20) 53%,
        var(--plat-color) 53.1%, var(--plat-color) 53.2%,
        rgba(229, 228, 226, 0.20) 53.3%, rgba(229, 228, 226, 0.20) 69%,
        var(--plat-color) 69.1%, var(--plat-color) 100%)
}

.apps__item_title {
    width: 100%;

    font-size: 180%;
}

.apps__item {
    background-color: #A8D0E6;
    color: black;

    height: 100%;
    width: 100%;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transform-style: preserve-3d;

    transition: border ease .3s;
    border: 10px solid var(--bd-color);
    /*border: 4px solid var(--third-bg-color);*/
    /*border: 2px solid black;*/
}

.tilt__item {
    transform: translateZ(20px);

    text-align: center;
}

.PopUpOFF_item {
    background-color: var(--ppf-color3);
    color: var(--ppf-color1);
}

.Stylify_item {
    background-color: var(--stlf-color3);
    color: var(--stlf-color2);
}

.PLAS_item {
    background-color: var(--plas-color3);
    color: var(--plas-color1);
}

.apps__typing {
    position: absolute;

    left: 50%;
    top: 100px;
    width: 135px;
    height: 80px;

    transform: rotate(12deg);

    overflow: hidden;

    font-family: var(--hand-font);
    line-height: 2;
}

.apps__footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;

    bottom: 60px;
    right: 20px;
}

.apps__logo_link {
    display: block;

    animation: appearX 1s ease;
}

.apps__logo_link:nth-child(2) {
    animation-name: appear2;
}

.apps__logo_link:nth-child(3) {
    animation-name: appear3;
}

.apps__logo_link:nth-child(4) {
    animation-name: appear4;
}

.apps__logo_link:nth-child(5) {
    animation-name: appear5;
}

@keyframes appearX {
    0% {
        transform: translateX(300px);
    }
    50% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(10px);
    }
    60%, 100% {
        transform: translateX(0);
    }
}

@keyframes appear2 {
    0% {
        transform: translateX(300px);
    }
    60% {
        transform: translateX(-16px);
    }
    80% {
        transform: translateX(8px);
    }
    70%, 100% {
        transform: translateX(0);
    }
}

@keyframes appear3 {
    0% {
        transform: translateX(300px);
    }
    70% {
        transform: translateX(-10px);
    }
    90% {
        transform: translateX(5px);
    }
    80%, 100% {
        transform: translateX(0);
    }
}

@keyframes appear4 {
    0% {
        transform: translateX(300px);
    }
    80% {
        transform: translateX(-10px);
    }
    95% {
        transform: translateX(2px);
    }
    90%, 100% {
        transform: translateX(0);
    }
}

@keyframes appear5 {
    0% {
        transform: translateX(400px);
    }
    85% {
        transform: translateX(-6px);
    }
    98% {
        transform: translateX(1px);
    }
    90%, 100% {
        transform: translateX(0);
    }
}

.apps__logo_img{
    height: 100px;
    width: 110px;

    transition: all ease .3s .1s;
}

.apps__policy {
    display: block;

    padding-bottom: 0;

    color: var(--txt-color);
    font-size: 90%;
}

.apps__updates {
    padding: 0;
}

.apps__socials {
    position: absolute;
    z-index: 2;

    top: 90px;
    left: 10px;
}

.apps__soc_link {
    position: relative;
    display: block;

    width: 30px;
    padding: 0 4px;
    height: 30px;
    animation: apps_logo 2s ease-out;
}

.apps__soc_link:nth-child(2) {
    animation-duration: 1.5s;
}

@keyframes apps_logo {
    0%, 70% {
        transform: translateX(-150px);
    }
    90% {
        transform: translateX(10px);
    }
    95% {
        transform: translateX(-5px);
    }
    97% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

.apps__logo {
    width: 100%;
    height: 100%;
}

.apps__logo_part,
.apps__logo{
    fill: var(--txt-color2);
}

@media (hover: hover) {
    .apps__soc_link,
    .apps__policy,
    .apps__logo,
    .apps__logo_part {
        transition: var(--def-trs);
    }

    .apps__soc_link:hover {
        transform: scale(1.3, 1.3);
    }

    .apps__soc_link:hover .apps__logo_part,
    .apps__soc_link:hover .apps__logo{
        fill: var(--txt-color);
    }

    .apps__policy:hover {
        color: var(--txt-color2);
    }

    .apps__footer:hover .apps__logo_img{
        filter: blur(1px);
    }

    .apps__footer:hover .apps__logo_img:hover{
        /*filter: drop-shadow( 0px 0px 5px rgba(239, 187, 53, 1)) blur(0);*/
        filter: drop-shadow( 0px 0px 8px rgba(0, 0, 0, 1)) blur(0);
    }
}

@media screen and (max-width: 1601px) {
    .tilt__circle {
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width: 1359px) {
    .apps__item {
        border-width: 4px;
    }

    .apps__slider_slide {
        height: 400px;
    }

    .tilt__circle {
        width: 140px;
        height: 140px;
    }

    .apps__logo_img {
        width: 68px;
        height: 60px;
    }

    .apps__desc {
        padding-right: 100px;
    }
}

@media screen and (max-height: 900px) {
    .apps {
        --header-height: 130px;
    }
    .apps__head {
        padding: 40px 50px;
    }

    .apps__socials {
        top: 70px;
    }

    .apps__typing {
        top: 50px;
    }

    .apps__slider_slide {
        height: calc(100vh - var(--header-height) - 150px);
    }

    .apps__title {
        padding: 10px 0 0;
    }
}

@media screen and (max-width: 1024px) {
    .apps__slider {
        width: 100%;
    }

    .apps__typing {
        left: auto;
        right: 10%;
    }

    .apps__desc {
        width: 100%;
    }

    .apps {
        display: block;
        height: auto;
        min-height: 100%;

        padding-bottom: 40px;
    }
}

@media screen and (max-height: 720px) {
    .apps {
        --header-height: 60px;
    }

    .apps__head {
        padding: 20px 50px;
    }

    .apps__socials {
        top: 28px;
    }

    .apps__head_title {
        font-size: 80px;
        line-height: 60px;
    }

    .apps__title {
        padding-top: 5px;
    }
}

@media screen and (max-width: 736px) {
    .apps__head_title {
        font-size: 50px;
        line-height: 40px;
    }

    .apps__head {
        padding: var(--pad-txt);
        height: auto;
    }

    .apps__typing {
        right: 8px;
        width: 100px;

        font-size: 14px;
    }

    .apps__item_title {
        font-size: 18px;
    }

    .apps__slider_slide {
        height: 200px;
    }

    .tilt__circle {
        width: 90px;
        height: 90px;
    }

    .apps__desc {
        padding: 0 var(--pad-txt);
    }

    .apps__back {
        position: static;
        display: block;

        padding: 10px var(--pad-txt) 0;

        font-size: 14px;
    }

    .apps__footer {
        position: static;

        padding: 30px var(--pad-txt) 10px;

        flex-direction: unset;
    }

    .apps__slider {
        padding: 20px 0 40px;
    }

    .tilt__item {
        transform: none;
    }

    .apps__socials {
        top: 80px;
        left: 25px;
    }

    .apps__soc_link {
        display: inline-block;
    }
}

@media screen and (max-width: 360px) {
    .apps__head_title {
        font-size: 40px;
    }

    .apps__typing {
        top: 35px;
    }

    .apps__item_title {
        font-size: 14px;
    }

    .apps__slider_slide {
        height: 160px;
    }

    .tilt__circle {
        width: 70px;
        height: 70px;
    }

    .apps__back {
        position: static;
    }

    .apps__socials {
        top: 270px;
        left: 20px;
    }
}
