.card {
    width: 500px;
    height: 300px;

    width: 460px;
    height: 260px;

    border-radius: 10px;
    border: solid 5px var(--dark-color3);

/*    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);*/
    /*transform: scale(1.5, 1.5);*/
}

.card__title {
    padding-left: 20px;
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 27px;
}

.card__photo {
    width: 130px;
    height: 160px;
    margin-left: 20px;

    background-color: var(--dark-color3);
}

.card__body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.card__info {
    margin-left: 30px;
}

.card__label {
    display: inline-block;

    width: 50px;

    font-size: 10px;
    font-weight: bold;
}

.card__string {
    margin-bottom: 8px;

    border-bottom: 4px solid var(--dark-color3);
}

.card__cap {
    border-radius: 6px 6px 0 0;
    background-color: var(--jerry-color);
}