@keyframes typing {
	from { width: 100% }
	to { width: 0 }
}

.typing {
	position: absolute;
	opacity: 0;

	background-color: inherit;

	transition: opacity ease 1s;
}

.typing-active {
	opacity: 1;

	transition: unset;
}

.typing__text {
	position: absolute;

	top: 0;
	margin: 0;
}

.typing__wrap {
	position: absolute;

	margin: 0;
	height: 0;
	top: 0;
	width: 100%;

	background-color: inherit;
}

.typing-active .typing__hide {
	position: relative;

	margin: 0;
	width: 0;

	clear: both;
	float: right;

	background-color: inherit;

	animation: typing 2s steps(30, end);
	animation-fill-mode: both;
}

.typing-active .typing__hide:nth-child(2) {
	animation-delay: 2s;
}
.typing-active .typing__hide:nth-child(3) {
	animation-delay: 4s;
}
.typing-active .typing__hide:nth-child(4) {
	animation-delay: 6s;
}
.typing-active .typing__hide:nth-child(5) {
	animation-delay: 8s;
}
.typing-active .typing__hide:nth-child(6) {
	animation-delay: 10s;
}
.typing-active .typing__hide:nth-child(7) {
	animation-delay: 12s;
}
.typing-active .typing__hide:nth-child(8) {
	animation-delay: 14s;
}
