@font-face {
    font-family: 'GloriaHallelujah';
    src: url('../media/fonts/GloriaHallelujah.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/GloriaHallelujah.woff') format('woff'),
    url('../media/fonts/GloriaHallelujah.ttf')  format('truetype'),
    url('../media/fonts/GloriaHallelujah.svg#GloriaHallelujah') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('../media/fonts/PermanentMarker.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/PermanentMarker.woff') format('woff'),
    url('../media/fonts/PermanentMarker.ttf')  format('truetype'),
    url('../media/fonts/PermanentMarker.svg#PermanentMarker') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark-color1: #3e596c;
    --dark-color1: #324758;
    --dark-color2: #000926;
    --dark-color3: #1b283b;
    --dark-color4: #0e1f37;
    /*blue*/
    --blue-color1: #124e8a;
    --blue-color2: #2c6f86;
    --blue-color3: #154454;
    /*yellow*/
    --yellow-color1: #cbcc7f;
    --yellow-color2: #c6b763;
    /*gray*/
    --gray-color: #b9b9c2;
    /*white*/
    --white-color: #d7e3ff;
    /*violet*/
    --violet-color: #846b80;
    --pink-color: #99677b;
    /*tom&jerry*/
    --tom-color: #61718e;
    --jerry-color: #6e4532;
    /*pink*/
    --pink: #ffc0cb;

    /* // USED // */

    /*transition*/
    --def-trs: all ease .3s;
    /*fonts*/
    --hand-font: 'GloriaHallelujah';
    --hand-font2: 'PermanentMarker';
    /* --hand-font3: 'handFont3'; */
    /*paddings for text*/
    --pad-txt: 30px;
    /* main colors */
    --bg-color2: #6ea1be;
    --bg-color1: #dadee0;
    --text-color1: #24305e;
    --text-color1: var(--third-bg-color);

    --main-bg-color: var(--dark-color1);
    --second-bg-color: var(--jerry-color);
    --third-bg-color: var(--dark-color3);
    --main-text-color: var(--yellow-color2);

    /* articles typography */
    --art-fz: 20px;
    --art-fz-title: 52px;
    --art-fz-subtitle: 25px;

    --art-lh: 1.7;
    --art-lh-title: 1.558;
    --art-lh-subtitle: 1.64;

    --art-margin-1: 34px;
    --art-margin-2: 13px;
}

@media screen and (max-width: 1024px) {
    :root {
        --art-fz: 18px;
        --art-fz-title: 47px;
        --art-fz-subtitle: 23px;

        --art-lh: 31px;
        --art-lh-title: 73px;
        --art-lh-subtitle: 38px;

        --art-margin-1: 31px;
        --art-margin-2: 12px;
    }
}

@media screen and (max-width: 735px) {
    :root {
        --art-fz-title: 37px;

        --art-lh: 29px;
        --art-lh-title: 57px;
        --art-lh-subtitle: 36px;

        --art-margin-1: 29px;
        --art-margin-2: 11px;
    }
}

@media screen and (max-width: 360px) {
    :root {
        --pad-txt: 20px;

        --art-fz: 16px;
        --art-fz-title: 33px;
        --art-fz-subtitle: 20px;

        --art-lh: 26px;
        --art-lh-title: 51px;
        --art-lh-subtitle: 32px;

        --art-margin-1: 26px;
        --art-margin-2: 6px;
    }
}
