@font-face {
    font-family: 'handFont';
    src: local('handFont'), url(../media/fonts/handFont.ttf) format('truetype');
}

@font-face {
    font-family: 'handFont2';
    src: local('handFont2'), url(../media/fonts/handFont2.ttf) format('truetype');
}

@font-face {
    font-family: 'handFont3';
    src: local('handFont3'), url(../media/fonts/handFont3.otf) format('truetype');
}

:root {
    --dark-color1: #3e596c;
    --dark-color1: #324758;
    --dark-color2: #000926;
    --dark-color3: #1b283b;
    --dark-color4: #0e1f37;
    /*blue*/
    --blue-color1: #124e8a;
    --blue-color2: #2c6f86;
    --blue-color3: #154454;
    /*yellow*/
    --yellow-color1: #cbcc7f;
    --yellow-color2: #c6b763;
    /*gray*/
    --gray-color: #b9b9c2;
    /*white*/
    --white-color: #d7e3ff;
    /*violet*/
    --violet-color: #846b80;
    --pink-color: #99677b;
    /*tom&jerry*/
    --tom-color: #61718e;
    --jerry-color: #6e4532;
    /*pink*/
    --pink: #ffc0cb;
    /*transition*/
    --def-trs: all ease .3s;
    /*fonts*/
    --hand-font: 'handFont';
    --hand-font2: 'handFont2';
    --hand-font3: 'handFont3';
    /*paddings for text*/
    --pad-txt: 30px;
    /* main colors */
    --bg-color2: #6ea1be;
    --bg-color1: #dadee0;
    --text-color1: #24305e;
    --text-color1: var(--third-bg-color);

    --main-bg-color: var(--dark-color1);
    --second-bg-color: var(--jerry-color);
    --third-bg-color: var(--dark-color3);
    --main-text-color: var(--yellow-color2);
}

@media screen and (max-width: 360px) {
    :root {
        --pad-txt: 20px;
    }
}
