#root,
html, 
body,
.main,
.offer,
.apps {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.59;
    font-weight: 300;
    font-size: 18px;

    -webkit-tap-highlight-color: transparent;

    background-color: var(--dark-color1);

    color: var(--yellow-color2);
}

h1,
h5 {
    margin: 0;

    font-weight: normal;
}

a {
    color: var(--yellow-color2)
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    color: var(--yellow-color2);
}
