.root,
html, 
body,
.main,
.offer,
.apps {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: inherit;
}

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.59;
    font-weight: 300;
    font-size: 18px;
    color: var(--yellow-color2);

    -webkit-tap-highlight-color: transparent;
    background-color: var(--dark-color1);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;

    font-weight: normal;
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

*::selection {
    background-color: var(--yellow-color1);
    color: var(--dark-color2);
}

.main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    color: var(--yellow-color2);
}

.link {
    color: var(--yellow-color2);

    transition: var(--def-trs);
}

.link:hover {
    color: var(--yellow-color1);
}
