<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="apple-touch-icon" href="/media/public/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/media/public/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/media/public/favicon-16x16.png">

		<meta property="og:title" content="RomanistHere. An independent JavaScript developer." />
	    <meta property="og:type" content="website" />
	    <meta property="og:url" content="http://romanisthere.github.io/" />
	    <meta property="og:description" content="Hey, I am Roman Smunyov and I am a JavaScript developer. It is time for you to finally meet me. My goal is to make the web better. I develop non-comercial open source projects. Join!"/>
	    <meta property="og:image" content="/media/public/preview.png" />

		<meta name="Description" content="Hey, I am Roman Smunyov and I am a JavaScript developer. It is time for you to finally meet me. My goal is to make the web better. I develop non-comercial open source projects. Join!">

	    <meta name="google-site-verification" content="VOAqlvL1BbL_Glqy47fldDLcHlz8MjARlIfftmcdios" />
		<link rel="icon" href="/media/public/favicon.ico" />

		<title><% preact.title %></title>
		<% preact.headEnd %>
	</head>
	<body>
		<noscript>You need to enable JavaScript to see this website. Come on mate, it's 2020 :).</noscript>
		<% preact.bodyEnd %>
	</body>
</html>
