<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="google-site-verification" content="VOAqlvL1BbL_Glqy47fldDLcHlz8MjARlIfftmcdios" />

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
		<link rel="icon" href="/assets/favicon.ico" />

		<meta property="og:title" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.ogTitle %>" />
	    <meta property="og:type" content="website" />
	    <meta property="og:url" content="http://romanisthere.github.io/" />
	    <meta property="og:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>" />
		<meta property="og:image" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.img %>" />

		<meta name="twitter:card" content="summary_large_image">
	    <meta name="twitter:image:src" content="http://romanisthere.github.io<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.img %>" />

		<meta name="description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>">
		<meta name="keywords" content="HTML, CSS, JavaScript, React, Preact, Development, Non-commerical, Open-source, Roman Smunyov, RomanistHere, PopUpoff, blog, independent, developer">

		<!-- <script async defer data-domain="romanisthere.github.io" src="https://plausible.io/js/plausible.js"></script> -->

		<title><% preact.title %></title>
		<% preact.headEnd %>
	</head>
	<body>
		<noscript>You need to enable JavaScript to see this website. Come on mate, it's 2020 :).</noscript>
		<% preact.bodyEnd %>
	</body>
</html>
